body{
    text-align: center;
    font-family: "Arial";
    color:#333;

}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
}
#container h1{
    font-size: 20px;
}

#cabecera{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: blue;

}
